@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
}
section#content > div#image{
    background-image: url(images/pattern-building-1280x1921.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    width: 300px;
}
section#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 300px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 01px 01px 20px rgba(0, 0, 0, 0.644);
    overflow: hidden;
}
section#content > div#form{
    text-align: center;
    display: block;
    padding: 10px;
}