@charset "UTF-8";

/** Paleta de Cores 
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    /* Lembrando que para deixar mais "LEVE" o MOBILE FIRST, não precisa colocar color gradient!! */
    background-color: #5f2c82;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 300px;
    height: 660px;
    border-radius: 15px;
    box-shadow: 01px 0px 10px rgba(0, 0, 0, 0.507);
    
    /* Esse elemento OVERFLOW faz que o conteúdo que passar do BOX, seja 'escondido' como nesse exemplo aqui que a imagem está passando um pouco*/
    overflow: hidden;
    
    transform: translate(-50%, -50%);
    /*Esse elemento TRANSITION ele causa uma ananimação quando vai de um tamanho de tela para outro de acordo com o que está aqui em baixo:  */
    transition: width 0.5s, height 0.5s;

    /* Esse element TRANSITION com o atributo TIMING-FUNCTION com o valor EASE, faz com que ao realizar a animação de transição, seja de forma suave! */
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: #5f2c82 url(../images/pattern-building-1280x1921.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
section#login > div#formulario > h1{
    padding-bottom: 10px;
    text-align: center;
}
section#login > div#formulario > p{
    font-size: 1em;
    text-align: center;
    padding: 05px 0px;
}
section#login > div#formulario > form > div.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #5f2c82;
    border-radius: 07px;
    
    /* Lembra lá no começo que ao colocar somente dois valores, o primeiro valor é referente a EM CIMA e EM BAIXO e o segundo valor é ESQUERDA e DIREITA! */
    margin: 05px 0px;
    
    padding-left: 05px; 
}
section#login > div#formulario > form > div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 04px;
}
/* Lembrando que o elemento "LABEL" não é um "INPUT" e por isso não coloquei ele da mesma forma que os input mais para baixo.  */
section#login > div#formulario > form > div.campo > label{
    display: none;
}
section#login > div#formulario > form > div.campo > input{
    height: 100%;
    
    /* Usei o atributo "CALC" pois ele que vai calcular o width: 100% e preencher os restante do 40px que eu coloquei no width do SPAN(icone). Lembrandando que eu tenho que colocar o valor "-" para poder encaixar(ou preencher).  */
    width: calc(100% - 45px);
    
    background-color: #5cc9c5;
    font-size: 1em;
    border-radius: 07px;
    
    /* Aqui usei elemento "transform" com a atributo "TRANSLATE Y" com o valor "-" para fazer com que a borda do input email e senha pudesse ficar dentro do background da div.campo. SEMPRE COLOQUE O ELEMENTO TRANSFORM POR ÚLTIMO*/
    transform: translateY(-12px);
}
section#login > div#formulario > form > div.campo > input:focus-within{
    background-color: white;
    color: black;
}
section#login > div#formulario > form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 07px;
    cursor: pointer;
}
section#login > div#formulario > form > input[type=submit]:hover{
    background-color: #326d6b;
}
section#login > div#formulario > form > a.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 05px;
    background-color: #49a09d;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 07px;
    cursor: pointer;
    text-align: center;
    padding-top: 08px;
}
section#login > div#formulario > form > a.botao:hover{
    background-color: #326d6b;
}
section#login > div#formulario > form > a.botao > span{
    font-size: 1em;
}