@charset "UTF-8";

/** Paleta de Cores 
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 01px 0px 10px rgba(0, 0, 0, 0.507);
    
    /* Esse elemento OVERFLOW faz que o conteúdo que passar do BOX, seja 'escondido' como nesse exemplo aqui que a imagem está passando um pouco*/
    overflow: hidden;
    
    /*Esse elemento TRANSITION ele causa uma ananimação quando vai de um tamanho de tela para outro de acordo com o que está aqui em baixo:  */
    transition: width 0.5s, height 0.5s;

    /* Esse element TRANSITION com o atributo TIMING-FUNCTION com o valor EASE, faz com que ao realizar a animação de transição, seja de forma suave! */
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: #5f2c82 url(../images/pattern-building-1280x1921.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
    text-align: center;
}